.footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.footer p {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 20px;
}